<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.commons.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stuName" jdbcType="VARCHAR" property="stuname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="joinTime" jdbcType="TIMESTAMP" property="jointime" />
    <result column="clz_id" jdbcType="INTEGER" property="clzId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stuName, password, joinTime, clz_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.commons.entity.Student">
    insert into student (id, stuName, password, 
      joinTime, clz_id)
    values (#{id,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{jointime,jdbcType=TIMESTAMP}, #{clzId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.commons.entity.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stuname != null">
        stuName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="jointime != null">
        joinTime,
      </if>
      <if test="clzId != null">
        clz_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null">
        #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="clzId != null">
        #{clzId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.commons.entity.Student">
    update student
    <set>
      <if test="stuname != null">
        stuName = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="jointime != null">
        joinTime = #{jointime,jdbcType=TIMESTAMP},
      </if>
      <if test="clzId != null">
        clz_id = #{clzId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.commons.entity.Student">
    update student
    set stuName = #{stuname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      joinTime = #{jointime,jdbcType=TIMESTAMP},
      clz_id = #{clzId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>